{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
    <h1>Django Girls Blog</h1>

    {% for post in posts %}
        <div class="post">
            <div class="date">
                publié: {{ post.published_date }}
            </div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
</body>
</html>
